#relogio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product-grid {
    display: flex;
    margin: 20px;
}

.product-item {
    flex: 0 25%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #ebd4ba;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.product-item h4 {
    font-size: 100%;
    margin-left: 15%;
}

.product-item p {
    margin-left: 42%;
}

.product-item img {
    margin-left: 5%;
}