* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: #d4bbac;
}

section {
    padding: 28px 8%;
}

#social-media-buttons {
    display: flex;
    gap: 18px;
}

#social-media-buttons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #d4bbac;
    border-radius: 50%;
    transition: box-shadow .3s ease;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 0px 12px 4px rgba(255, 231, 231, 0.1);
}

#social-media-buttons a:hover {
    background-color: #fff;
}

.section-title {
    color: #1b1b1b;
    font-size: 2.185rem;
    text-align: center;
    margin-top: 10px;
}

.section-subtitle {
    color: #1b1b1b;
    text-align: center;
    margin-top: 10px;
}