body {
    font-family:'Calibri', Times, serif;
    margin: 0%;
    padding: 0%;
    background-color: #fff6eb;
}
nav#home.menu {
    display: flex;
    justify-content: space-between;
    background-color: auto;
    padding: 0 2rem;
    align-items: center;
}
.menu ul li a {
    color: #492e1a;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #4f473e;
}
.menu ul {
   text-decoration: none;
   font-size: 15px;
   transition: all ease 1s;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.logo {
    color: #ffe4c4;
    text-decoration: none;
}
.logo span {
   color: #d0baa0;
}
nav ul{
   display: flex;
   list-style-type: none;
}
nav ul li {
   margin: 0 10px;
   padding: 0 10px;
}
.menu ul li a {
    color: #492e1a;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #4f473e;
}
.menu ul {
   text-decoration: none;
   font-size: 15px;
   transition: all ease 1s;
    list-style-type: none;
    display: flex;
    align-items: center;
}
/* stilo das letras do menu*/

a{
    text-decoration: none;
    text-transform: none;
    transition: 0.25s ease;
}
ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}
ul :hover a {
    color: #4f473e;
    box-shadow: 0 2px 0 0 currentColor;
    transition: 0.25s ease;
    padding-bottom: 2px;
    padding-top: 2px;
}
ul li a:hover{
    box-shadow: 0 2px 0 0 currentColor;
}
ul li{
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}


/* Produtos */

.produtos {
    padding: 5rem 5%;
}
.produtos-grid  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    margin-top: 3rem;
}
.product-card {
    background: var(--#4f473e);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 05px 10px #4f473e;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    border: 1px solid #4f473e;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #4f473e;
}
.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    filter: grayscale(20%);
}
.product-image:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}
.product-info {
    padding: 2rem;
    position: relative;
    z-index: 1;
}
.product-title {
    font-size: 1.2rem;
    margin-bottom: 0,5rem;
    color: var(--text);
}
.product-price {
    color: var(--acent);
    font-weight: 700;
    font-size: 1.3rem;
}